.feature {
  display: flex;
}

.feature__logo {
  display: flex;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  justify-content: center;
  align-items: center;
}

.feature__headline {
  color: var(--page-text);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.feature__list {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
